
<!DOCTYPE html>

<html lang="en-us" dir="ltr">
<head>
<title>Select admin profile to change | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>


  
  <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
  
  
    <script src="/root/jsi18n/"></script>
  
  
  




<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script src="/static/admin/js/jquery.init.js"></script>
<script src="/static/admin/js/core.js"></script>
<script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script src="/static/admin/js/actions.js"></script>
<script src="/static/admin/js/urlify.js"></script>
<script src="/static/admin/js/prepopulate.js"></script>
<script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" app-core model-adminprofile change-list"
  data-admin-utc-offset="7200">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/root/">Django administration</a></h1>

        </div>
        
        
        <div id="user-tools">
            
                Welcome,
                <strong>ahmedHassan</strong>.
            
            
                
                    <a href="/">View site</a> /
                
                
                    
                    
                
                
                <a href="/root/logout/">Log out</a>
            
        </div>
        
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/root/">Home</a>
&rsaquo; <a href="/root/core/">Core</a>
&rsaquo; Admin profiles
</div>

    

    <div class="main shifted" id="main">
      
        
          
<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="Toggle navigation"></button>
<nav class="sticky" id="nav-sidebar">
  


  
    <div class="app-auth module">
      <table>
        <caption>
          <a href="/root/auth/" class="section" title="Models in the Authentication and Authorization application">Authentication and Authorization</a>
        </caption>
        
          <tr class="model-group">
            
              <th scope="row"><a href="/root/auth/group/">Groups</a></th>
            

            
              <td><a href="/root/auth/group/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-user">
            
              <th scope="row"><a href="/root/auth/user/">Users</a></th>
            

            
              <td><a href="/root/auth/user/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
      </table>
    </div>
  
    <div class="app-core module current-app">
      <table>
        <caption>
          <a href="/root/core/" class="section" title="Models in the Core application">Core</a>
        </caption>
        
          <tr class="model-adminprofile current-model">
            
              <th scope="row"><a href="/root/core/adminprofile/" aria-current="page">Admin profiles</a></th>
            

            
              <td><a href="/root/core/adminprofile/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-branch">
            
              <th scope="row"><a href="/root/core/branch/">Branchs</a></th>
            

            
              <td><a href="/root/core/branch/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-category">
            
              <th scope="row"><a href="/root/core/category/">Categories</a></th>
            

            
              <td><a href="/root/core/category/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-message">
            
              <th scope="row"><a href="/root/core/message/">Messages</a></th>
            

            
              <td><a href="/root/core/message/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-pc">
            
              <th scope="row"><a href="/root/core/pc/">Pcs</a></th>
            

            
              <td><a href="/root/core/pc/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-permission">
            
              <th scope="row"><a href="/root/core/permission/">Permissions</a></th>
            

            
              <td><a href="/root/core/permission/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-printer">
            
              <th scope="row"><a href="/root/core/printer/">Printers</a></th>
            

            
              <td><a href="/root/core/printer/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-server">
            
              <th scope="row"><a href="/root/core/server/">Servers</a></th>
            

            
              <td><a href="/root/core/server/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-share">
            
              <th scope="row"><a href="/root/core/share/">Shares</a></th>
            

            
              <td><a href="/root/core/share/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-ticket">
            
              <th scope="row"><a href="/root/core/ticket/">Tickets</a></th>
            

            
              <td><a href="/root/core/ticket/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-userprofile">
            
              <th scope="row"><a href="/root/core/userprofile/">User profiles</a></th>
            

            
              <td><a href="/root/core/userprofile/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
      </table>
    </div>
  


</nav>

        
      
      <div class="content">
        
          
        
        <!-- Content -->
        <div id="content" class="">
          
          <h1>Select admin profile to change</h1>
          
          
  <div id="content-main">
    
        <ul class="object-tools">
          
            


  
  <li>
    
    <a href="/root/core/adminprofile/add/" class="addlink">
      Add admin profile
    </a>
  </li>
  


          
        </ul>
    
    
    <div class="module" id="changelist">
      <div class="changelist-form-container">
        


        

        <form id="changelist-form" method="post" novalidate><input type="hidden" name="csrfmiddlewaretoken" value="gk4HYYA8ZjXOLMzYA8DdPTaNRELnrT26JRqkWTK5FZBJkl6NpawRSHLC94NMCMHw">
        

        
          
<div class="actions">
  
    
    <label>Action: <select name="action" required>
  <option value="" selected>---------</option>

  <option value="delete_selected">Delete selected admin profiles</option>

</select></label><input type="hidden" name="select_across" value="0" class="select-across">
    
    
    <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
    
    
    
        <span class="action-counter" data-actions-icnt="3">0 of 3 selected</span>
        
    
    
  
</div>

          


<div class="results">
<table id="result_list">
<thead>
<tr>

<th scope="col" class="action-checkbox-column">
   
   <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
   <div class="clear"></div>
</th>
<th scope="col" class="column-__str__">
   
   <div class="text"><span>Admin profile</span></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>


<tr><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="2" class="action-select"></td><th class="field-__str__"><a href="/root/core/adminprofile/2/change/">medo</a></th></tr>


<tr><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="1" class="action-select"></td><th class="field-__str__"><a href="/root/core/adminprofile/1/change/">hany</a></th></tr>


<tr><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="3" class="action-select"></td><th class="field-__str__"><a href="/root/core/adminprofile/3/change/">ahmed</a></th></tr>

</tbody>
</table>
</div>


          
        
        

<p class="paginator">

3 admin profiles


</p>

        </form>
      </div>
      
        
      
    </div>
  </div>

          
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
