{% extends 'baseadmin.html' %} {% load i18n %} {% block content %}

<div class="bg-light">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-1">
            <li class="breadcrumb-item"><a href="">{% trans "Profile" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Edit Profile" %}</li>
            <li class="breadcrumb-item active" aria-current="page">{{profile.name}}</li>
        </ol>
    </nav>
</div>



<div class="card m-sm-2">
    <div class="card-body">
        {% include 'partials/messages.html' %} {% if request.user.pk == profile.pk%}
        <form enctype="multipart/form-data" action="{% url 'admin-profile' profile.pk %}" method="post">
            <img src="/img/{{profile.image}}" /> {% csrf_token %} {{ form.as_p }}
            <table>


            </table>
            <div class="form-group mt-5">
                <input type="submit" value="{% trans 'Update' %}" class=" btn btn-primary form-control form-control-sm">
            </div>

        </form>
        {% endif %}
    </div>
</div>




{% endblock content %}