{% extends 'baseadmin.html' %}

{% block content %}

<div class="bg-light">

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mt-1">
                <li class="breadcrumb-item"><a href="{% url 'admin-requests' %}">Requests</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Request</li>
                <li class="breadcrumb-item active" aria-current="page">{{requests.user.username}}</li>
              </ol>
            </nav>
</div>



    <div class="card m-sm-2">
        <div class="card-body">
            {% include 'partials/messages.html' %}
          
            <form enctype="multipart/form-data" action="{% url 'edit-requests' requests.pk %}" method="post">
                {% csrf_token %}
                  {{ form.as_p }}
                      <table>

                      </table>
                 <div class="form-group mt-5">
                    <input type="submit" value="Submit" class=" btn btn-primary form-control form-control-sm">
                </div>

            </form>

        </div>
    </div>




{% endblock content %}