{% extends 'baseadmin.html' %} {% load static %} {% block content %}
{% load notifications_tags %}
{% load i18n %}
<div class="bg-light">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-1">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
</div>


<div class="card m-sm-2">
    <div class="card-body">

        {% include 'partials/messages.html' %}


<h1> {% trans "HOME PAGE" %} </h1>
        
        <div class="row">
            <div class="container col-3">
                <canvas id="admin" width="300" height="300"></canvas>
            </div>

            <div class="container col-3">
                <canvas id="category" width="300" height="300"></canvas>
            </div>

            <div class="container col-3">
                <canvas id="branch" width="300" height="300"></canvas>
            </div>


        </div>
    </div>

</div>



<script src="{% static 'js/admin.js' %}"></script>
{% endblock %}