{% extends 'baseadmin.html' %}
{% load static %}

{% block content %}

        <div class="bg-light py-1 ps-1 m-sm-2">

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mt-1">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Home</li>
              </ol>
            </nav>
        </div>

    
<div class="card m-sm-2">
  <div class="card-body">  

    {% include 'partials/messages.html' %}

    
      
             <div class="row">
       
                <div class="container col-3">
                      <canvas id="admin" width="200" height="200"></canvas>
                </div>

                <div class="container col-3">
                      <canvas id="category" width="200" height="200"></canvas>
                </div>

                <div class="container col-3">
                   <canvas id="branch" width="200" height="200"></canvas>
                </div>
    

             </div>
          </div>

        </div>

  

 <script src="{% static 'js/admin.js' %}"></script>
{% endblock %}
