{% load static %}
{% load i18n %}
<html lang="ar" dir="rtl">
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   <title>OSG-Suport{% block title %}{% endblock %}</title>

<link href=" {% static 'css/boot_main.css' %} "rel="stylesheet" >
<link href=" {% static 'css/main.css' %} "rel="stylesheet" >


    <link href="{% static 'css/dashboardar.css' %}" rel="stylesheet">
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">OSG-support</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="عرض/إخفاء لوحة التنقل">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="#">{{ request.user.username }}</a>
    </div>
  </div>
</header>

<div class="container-fluid" >
  <div class="row">

   {% include 'partials/_sidebarar.html' %}

   <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bmain">

    <h1> {% trans "Category" %} </h1>
      {% block content %}
     
        
     
      {% endblock %}
    </main>  
    
  </div>
</div>


 </body>
</html>
