{% load static %}
{% load notifications_tags %} 
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

    <title>OSG Support{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <link href=" {% static 'css/boot_main4.css' %} " rel="stylesheet">
    <link href=" {% static 'css/main.css' %} " rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<!--   Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>

<body>

   
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">OSG Support</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container " style="justify-content: end;">

            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <svg width="27px" hieght="27px" viewBox="0 0 24 24">
                        <path
                            d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21">
                        </path>
                    </svg>
                    {% live_notify_badge badge_class="live_notify_badge badge over-icon-notification icon-button__badge" %}
                  
                    </a>
                
                <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
                  
                  <div class="notification-heading"><h4 class="menu-title">Notifications</h4>
                  </div>
                  <li class="divider"></li>
                 <div class="notifications-wrapper">            
              
                 </div>
                  <li class="divider"></li>
                </ul>
                
              </div>

        </div>
        
        <div class="navbar-nav px-3" style="display:flex; flex-direction:row;align-items:center;">

            
            <div class="nav-item text-nowrap">

                <span class="nav-link" href="">
              {{ request.user.first_name }} 
            </span>
            </div>
            <div class="nav-item profile-img">
                <img src="https://osg-support.cops.com/img/{{request.user.image}}" class="img-rounded" alt="Cinque Terre">

            </div>
            
                
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">

            {% include 'partials/_sidebar.html' %}

            <main id="main" role="main" class="col offset-2">

                {% block content %} {% endblock %}
            </main>
        </div>
    </div>


    <!--    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    

    <script src= "{% static 'js/notify.js' %}"></script>
    {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' fetch=20 menu_class="dropdown-menu" %}
    
</body>

</html>