{% extends 'baseadmin.html' %}
{% load i18n %}
{% block content %}

<div class="bg-light">

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mt-1">
                <li class="breadcrumb-item"><a href="{% url 'pc' %}">{% trans "Datasheet" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans "Edit PC" %}</li>
                      <li class="breadcrumb-item active" aria-current="page">{{pc.host_name}}</li>
              </ol>
            </nav>
</div>


    <div class="card m-sm-2">
        <div class="card-body">
            {% include 'partials/messages.html' %}
     
            <form action="{% url 'update_pc' pc.pk %}" method="post">
                {% csrf_token %}
                  {{ form.as_p }}
                      <table>

                      </table>
                 <div class="form-group mt-5">
                    <input type="submit" value="{% trans "Submit" %}" class=" btn btn-primary form-control form-control-sm">
                </div>



            </form>
          

        </div>
    </div>




{% endblock content %}