{% extends 'baseadmin.html' %} {% load i18n %} {% load static %} {% block content %}

<div class="bg-light">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-1">
            <li class="breadcrumb-item"><a href="#">{% trans "Datasheet" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Branch" %}</li>
        </ol>
    </nav>
</div>


<div class="card m-sm-2">
    <div class="card-body">

        {% include 'partials/messages.html' %}


        <div class="row">

            <section class="col-md-8">
                <ul>

                    {% for dep in branch %}

                    <li class="blist" data-filter={{dep.name}}>{{dep.name}}</li>

                    {% endfor %}

                    <div class="col-md-4">
                        <input id="searchText" type="text" class="form-control" placeholder="{% trans " Search " %}">
                    </div>

                </ul>

            </section>

            <a href="{% url 'upload' %}" class="col-md-2 btn btn-primary m-sm-1">{% trans "Upload Datasheet" %}</a>


        </div>


        <div class="row">
            <section class="col-md-12">
                <ul>

                    <li class="list active" data-filter="PC"> PC</li>
                    <li class="list" data-filter="Servers"> Servers</li>
                    <li class="list" data-filter="Backup"> Backup</li>
                    <li class="list" data-filter="Printers"> Printers</li>
                    <li class="list" data-filter="Switches"> Switches</li>
                    <li class="list" data-filter="Firewall"> Firewall</li>
                    <li class="list" data-filter="AP"> AP</li>
                    <li class="list" data-filter="Router"> Router</li>
                    <li class="list" data-filter="DVR"> DVR</li>
                    <li class="list" data-filter="FP"> FP</li>
                </ul>



            </section>


        </div>

        <div class="app-table">

            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th> Host Name</th>
                        <th> OS</th>
                        <th> IP</th>
                        <th> Ram</th>
                        <th> Vlan</th>
                        <th> CPU</th>
                        <th> Branch</th>
                        <th> User</th>

                    </tr>

                </thead>
                <tbody>

                    {% for ex in pc %}
                    <tr>
                        <td style="display:none">{{ex.pk}}</td>
                        <td>{{ex.host_name}}</td>
                        <td>{{ex.os}}</td>
                        <td>{{ex.ip}}</td>
                        <td>{{ex.ram}}</td>
                        <td>{{ex.vlan}}</td>
                        <td>{{ex.cpu}}</td>
                        <td>{{ex.branch}}</td>
                        <td>{{ex.user}}</td>

                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>


        <h3 class="not-found" style="display:none">{% trans "Result not found" %}</h3>

        <div class="table-output" style="display:none">

            <table class="table table-stripped table-hover">
                <thead class="table-head">
                    <tr>
                        <th class="thead"> Host Name</th>
                        <th class="thead"> OS</th>
                        <th class="thead"> IP</th>
                        <th class="thead"> Ram</th>
                        <th class="thead"> Vlan</th>
                        <th class="thead"> CPU</th>
                        <th class="thead"> Branch</th>
                        <th class="thead"> User</th>

                    </tr>

                </thead>
                <tbody class="table-body">
                    <tr>
                    </tr>

                </tbody>
            </table>
        </div>
        <!--
    <div class="pagination-container">
        <div class="">
            Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>

       <nav aria-label="...">
                  <ul class="pagination align-right float-right mr-auto">
                      {% if page_obj.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                       {% endif %}
                      {% if page_obj.number == 1 %}
                      <li class="page-item disabled">
                          <a class="page-link" href="" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                      {% endif %}
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                          <a class="page-link" href="#">{{ page_obj.number }}</a>
                        </li>
                      {% if page_obj.has_next %}
                      <li class="page-item"><a class="page-link" href="#">{{ page_obj.next_page_number  }}</a></li>
                        <li class="page-item">
                          <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                        </li>
                      {% endif %}
                      {% if page_obj.paginator.num_pages == page_obj.number %}
                      <li class="page-item disabled">
                          <a class="page-link" href="">Next</a>
                        </li>
                      {% endif %}

                  </ul>
        </div>
        </nav>
</div>
-->
    </div>
</div>

<script src="{% static 'js/datasheet.js' %}"></script>
{% endblock %}