{% extends 'baseadmin.html' %}
{% load static %}

{% block content %}

<div class="container">



    <div class="row m-2">
        <div class="col-md-10 bg-light py-1 ps-1">

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mt-1">
                <li class="breadcrumb-item"><a href="#">Datasheet</a></li>
                <li class="breadcrumb-item active" aria-current="page">Branch</li>
              </ol>
            </nav>
        </div>

    
    </div>

    {% include 'partials/messages.html' %}

    <div class="row">

         <section>
            <ul>
            
              <li class="blist active" data-filter="HQ"> HQ</li>
              <li class="blist" data-filter="Waraq"> Waraq</li>
              <li class="blist" data-filter="Lowa"> Lowa</li>
              <li class="blist" data-filter="Bolaq"> Bolaq</li>
              <li class="blist" data-filter="Awseem"> Awseem</li>
              <li class="blist" data-filter="All"> All</li>
             
            </ul>
          
          </section>

          <section>
            <ul>
            
              <li class="list active" data-filter="PC"> PC</li>
              <li class="list" data-filter="Servers"> Servers</li>
              <li class="list" data-filter="Printers"> Printers</li>
              <li class="list" data-filter="Switches"> Switches</li>
              <li class="list" data-filter="Firewall"> Firewall</li>
              <li class="list" data-filter="DVR"> DVR</li>
              <li class="list" data-filter="Fingerprint"> Fingerprint</li>
            <input id="searchText" type="text" class="form-control" placeholder="Search">
            </ul>

          
          
          </section>
            


    
    </div>

    {% if pc.count %}
    <div class="container">

    


    <div class="app-table">

    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th> Host Name</th>
                <th> os</th>
                <th> IP</th>
                <th> Ram</th>
                <th> Vlan</th>
                <th> CPU</th>
                <th> Branch</th>
            
                <th></th>
            </tr>

        </thead>
        <tbody>
        {% for ex in page_obj %}
        <tr>
            <td>{{ex.host_name}}</td>
            <td>{{ex.os}}</td>
            <td>{{ex.ip}}</td>
            <td>{{ex.ram}}</td>
             <td>{{ex.vlan}}</td>
            <td>{{ex.cpu}}</td>
            <td>{{ex.branch}}</td>
           
            <td><a href="" class="btn btn-secondary">Edit</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

        </div>

    <h3 class="not-found" style="display:none">Result not found</h3>
    <div class="table-output" style="display:none">

            <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th> Host Name</th>
                <th> os</th>
                <th> IP</th>
                <th> Ram</th>
                <th> Vlan</th>
                <th> CPU</th>
                <th> Branch</th>
                <th></th>
            </tr>

        </thead>
        <tbody class="table-body">

        </tbody>
    </table>
    </div>

    <div class="pagination-container">
        <div class="">
            Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>

       <nav aria-label="...">
                  <ul class="pagination align-right float-right mr-auto">
                      {% if page_obj.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                       {% endif %}
                      {% if page_obj.number == 1 %}
                      <li class="page-item disabled">
                          <a class="page-link" href="" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                      {% endif %}
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                          <a class="page-link" href="#">{{ page_obj.number }}</a>
                        </li>
                       <li class="page-item"><a class="page-link" href="#"></a></li>
                      {% if page_obj.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                        </li>
                      {% endif %}
                      {% if page_obj.paginator.num_pages == page_obj.number %}
                      <li class="page-item disabled">
                          <a class="page-link" href="">Next</a>
                        </li>
                      {% endif %}

                  </ul>
        </div>
        </nav>
</div>
    {% endif %}

</div>

 <script src="{% static 'js/datasheet.js' %}"></script>
{% endblock %}
