{% extends 'baseadmin.html' %}

{% block content %}

<div class="bg-light">

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mt-1">
                <li class="breadcrumb-item"><a href="{% url 'pc' %}">Datasheet</a></li>
                <li class="breadcrumb-item active" aria-current="page">Upload Datasheet</li>
              </ol>
            </nav>
</div>



    <div class="card m-sm-2">
        <div class="card-body">
            {% include 'partials/messages.html' %}
          
            <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                  <label for="exampleFormControlFile1">Select excel datasheet file!</label>
                  <input type="file" title="Upload excel file" name="file"
                  class="form-control-file" id="exampleFormControlFile1" required="required">
              </div>
              <input type="submit" value="Upload" name="time" class="mt-4 mb-4 btn btn-primary">
          </form>

        </div>
    </div>




{% endblock content %}