{% extends 'baseadmin.html' %} {% load i18n %} {% block content %}

<div class="bg-light">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-1">
            <li class="breadcrumb-item"><a href="">{% trans "Tickets" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Ticket Discus" %}</li>
            <li class="breadcrumb-item active" aria-current="page">{{ticket.user}}</li>
        </ol>
    </nav>
</div>



<div class="card m-sm-2">
    <div class="card-body">


        {% include 'partials/messages.html' %}

        <div class="row mt-auto">
            <div class="col-md-10 py-1 ">


                <div class="row mt-auto">
                    <div class="col-md-auto ">
                        <img src="https://osg-support.cops.com/img/{{ticket.user.image}}" class="img-rounded" alt="Cinque Terre">
                    </div>

                    <div class="col-md-auto py-1 ">
                        <h6> {{ ticket.user}}</h6>
                        <h6> {{ ticket.user.department}}</h6>
                    </div>

                </div>


                <div class="row mt-2">
                    <div class="col-md-auto ">
                        <h4> {{ ticket.description}}</h4>
                        <hr>
                        <h6>{% trans "Create :" %}  {{ ticket.open_date}}</h6>
                        <h6>{% trans "Closed :" %}  {{ ticket.closed_date}}</h6>
                        <h6>{% trans "Status :" %}  {{ ticket.status}}</h6>
                        <h6>{% trans "Category :" %} {{ ticket.category}}</h6>
                        <h6>{% trans "PC :" %}  {{ ticket.pc}}</h6>
                        <h6>{% trans "IP :" %}  {{ ticket.pc.ip}}</h6>
                        <h6>{% trans "Branch :" %}  {{ ticket.branch}}</h6>
                        <h6> {% trans "Admin :" %} {{ ticket.admin}}</h6>
                    </div>

                </div>

            </div>


            <div class="col-md-1">
                {% if ticket.admin %} {% if ticket.admin == request.user and ticket.closed_date == null%}
                <form action="{% url 'view_ticket' ticket.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger m-sm-1">{% trans "Close" %}</button>
                </form>
                {% endif %} {% else %}
                <form action="{% url 'view_ticket' ticket.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success m-sm-1">{% trans "Flow" %}</button>
                </form>
                {% endif %}

            </div>
            {% if ticket.closed_date == null %}
            <div class="col-md-1">
                <!--
                <a href="" class="btn btn-outline-warning m-sm-1">Assign</a>
                -->
            </div>
            {% endif %}

        </div>

    </div>
</div>

{% for message in ticket.messages.all %}

<div class="card m-sm-2">
    <div class="card-body">

        <div class="row mt-auto">
            <div class="col-md-auto ">
                <img src="https://osg-support.cops.com/img/{{ticket.user.image}}" class="img-rounded" alt="Cinque Terre">
            </div>

            <div class="col-md-auto py-1 ">
                <h6> {{ message.name}}</h6>
                <h6> {{ message.date}}</h6>
            </div>

        </div>

        <h4> {{ message.text}}</h4>
    </div>
</div>

{% endfor %} {% if ticket.admin == request.user and ticket.closed_date == null%}

<form action="{% url 'view_ticket' ticket.pk %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">{% trans "Send Message" %}</label>
        <input name="message" type="text" class="form-control" id="exampleInputEmail1" placeholder="{% trans "Enter message" %}">
        <small id="emailHelp" class="form-text text-muted"> .</small>
    </div>

    <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
</form>

{% endif %} {% endblock content %}