{% extends 'base.html' %} {% load i18n %} {% load static %} {% block content %}


<div class="row">
    <div class="col-md-10">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-1">
                <li class="breadcrumb-item"><a href="{% url 'requests' %}">{% trans "Requests" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans "My Requests" %}</li>
            </ol>
        </nav>
    </div>

    <div class="col-md-2">
        <a href="{% url 'create-request' %}" class="btn btn-primary m-sm-1">{% trans "Create Request" %}</a>
    </div>
</div>


{% if requests.count %}
<div class="card m-sm-2">
    <div class="card-body">

        {% include 'partials/messages.html' %}



        <div class="app-table">

            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>{% trans "Status" %} </th>
                        <th> {% trans "User" %}</th>
                        <th> {% trans "Category" %}</th>
                        <th>{% trans "Date" %} </th>

                    </tr>

                </thead>
                <tbody>
                    {% for ex in page_obj %}
                    <tr>
                        <td style="display:none">{{ex.pk}}</td>
                        {% if ex.valid %}
                        <td style="background:#0bb069;">{% trans "valid" %}</td>
                        {% else %}
                        <td style="background:#b01c0b;">{% trans "invalid" %}</td>
                        {% endif %}
                        <td>{{ex.user.username}}</td>
                        <td>{{ex.category}}</td>
                        <td>{{ex.date}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <h3 class="not-found" style="display:none">{% trans "Result not found" %}</h3>

        <div class="pagination-container">
            <div class="">
                {% trans "Showing page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
            </div>

            <nav aria-label="...">
                <ul class="pagination align-right float-right mr-auto">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">{% trans "Previous" %}</a>
                    </li>
                    {% endif %} {% if page_obj.number == 1 %}
                    <li class="page-item disabled">
                        <a class="page-link" href="" tabindex="-1" aria-disabled="true">{% trans "Previous" %}</a>
                    </li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ page_obj.number }}</a>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="#">{{ page_obj.next_page_number  }}</a></li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.next_page_number}}">{% trans "Next" %}</a>
                    </li>
                    {% endif %} {% if page_obj.paginator.num_pages == page_obj.number %}
                    <li class="page-item disabled">
                        <a class="page-link" href="">{% trans "Next" %}</a>
                    </li>
                    {% endif %}

                </ul>
        </div>
        </nav>
    </div>

</div>
</div>
{% endif %}

<script src="{% static 'js/user_request.js' %}"></script>

{% endblock %}